#wrapper {
  height: 600px;
  width: auto;
  margin: 40px 40px; 
  border: 3px solid black;
}

#hover-box {
  height: 150px;
  width: 150px;
  background-color: red;
  padding-top: 10px;
  padding-left: 10px;
}

#cube {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background-color: yellow;
  opacity: 0.5;
  color: red;
  -webkit-transform-origin:20px 20px;
  transition: .5s;
}

#wrapper:hover #cube {
  opacity: 1;
  color: black;
}

#hover-box:hover {
  /*  -webkit-animation: move_one 1s linear 1;*/
  -webkit-animation: hover-box-glide 3s linear 1;
}

@-webkit-keyframes hover-box-glide {
  0% {-webkit-transform: translate(0px);}
  20% {-webkit-transform: translate(40px, -40px);}
  40% {-webkit-transform: translate(80px, -40px);}
  60% {-webkit-transform: translate(120px, 0px);}
  100% {-webkit-transform: translate(250px, 450px);}
}

/*@-webkit-keyframes move_one {
    0%  {-webkit-transform: translate(0px) rotate(-90deg);}  
    30% {-webkit-transform: translate(40px, -40px) rotate(180deg);}
    60% {-webkit-transform: translate(80px, 0px) rotate(180deg);} 
    100% {-webkit-transform: translate(100px, 400px) rotate(360deg);}    
}*/