#wrapper {
  height: 600px;
  width: 1300px;
  margin: 0 40px; 
  border: 5px solid black;
}

#nav {
  height: 100px;
  width: 1310px;
  margin: 0 40px;
  background-color: tan;
}

#notice {
  float: right;
  margin-top: -600px;
  margin-right: 250px;
  color: grey;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  opacity: 0; 
}

#circle {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: ;
}

.fade-out-1 {
  transition-delay: .9s;
}

.fade-out-2 {
  transition-delay: 1.8s;
}

.fade-out-3 {
  transition-delay: 2.7s;
}

.fade-out-4 {
  transition-delay: 3.6s;
}

.fade-out-5 {
  transition-delay: 4.5s;
}

#hover-box1 {
  height: 150px;
  width: 150px;
}

#box {
  height: 150px;
  width: 150px;  
}

#box2 {
  float: left;
  margin-top: 345px;
  margin-left: 340px;
  opacity: 0;
  transition-delay: .9s;
}

#box3 {
  float: left;
  margin-top: 345px;
  margin-left: 290px;
  opacity: 0;
  transition-delay: 1.8s;
}

#box4 {
  float: left;
  margin-top: 345px;
  margin-left: 140px;
  opacity: 0;
  transition-delay: 2.7s;
}

#cube {
  height: 60px;
  width: 60px;
}

#cube1 {
  display: inline-block;
  margin-top: 45px;
  opacity: 0.5;
  -webkit-transform-origin: 75px 15px;
  transition: .5s;
}

#cube2 {
  display: inline-block;
  margin-top: 45px;
  -webkit-transform-origin: 75px 15px;
}

#cube3 {
  display: inline-block;
  margin-top: 45px;
  -webkit-transform-origin: 75px 15px;
}

#cube4 {
  display: inline-block;
  margin-top: 45px;
  -webkit-transform-origin: 50px 15px;
}

#cube5 {
  float: left;
  margin-top: 390px;
  margin-left: -40px;
  opacity: 0;
  transition-delay: 3.6s;
  -webkit-transform-origin: 60px 60px;
}

#wrapper:hover #cube1 {
  opacity: 1;
}

#hover-box1:hover {
  -webkit-animation: box-one-glide .9s linear;
}

#hover-box1:hover #cube1 {
  -webkit-animation: cube-curvature .6s linear, cube-drop .3s linear .6s;
}

#hover-box1:hover #cube1 .fade-out-1 {
  opacity: 0;
}

#hover-box1:hover + #box2 {
  opacity: 1;
  -webkit-animation: box-two-glide .9s linear .9s;
}

#hover-box1:hover + #box2 #cube2 {
  -webkit-animation: cube-curvature .6s linear .9s, cube-drop .3s linear 1.5s;
}

#hover-box1:hover + #box2 #cube2 .fade-out-2 {
  opacity: 0;
}

#hover-box1:hover + #box2 + #box3 {
  opacity: 1;
  -webkit-animation: box-three-glide .9s linear 1.8s;
}

#hover-box1:hover + #box2 + #box3 #cube3 {
  -webkit-animation: cube-curvature .6s linear 1.8s, cube-drop .3s linear 2.4s;
}

#hover-box1:hover + #box2 + #box3 #cube3 .fade-out-3 {
  opacity: 0;
}

#hover-box1:hover + #box2 + #box3 + #box4 {
  opacity: 1;
  -webkit-animation: box-four-glide .9s linear 2.7s;
}

#hover-box1:hover + #box2 + #box3 + #box4 #cube4 {
  -webkit-animation: cube-curvature .6s linear 2.7s, last-cube-drop .3s linear 3.3s;
}

#hover-box1:hover + #box2 + #box3 + #box4 #cube4 .fade-out-4 {
  opacity: 0;
}

#hover-box1:hover + #box2 + #box3 + #box4 + #cube5 {
  opacity: 1;
  -webkit-animation: last-cube-curvature 5s linear 3.6s;
}

#hover-box1:hover + #box2 + #box3 + #box4 + #cube5 .fade-out-5 {
  opacity: 0;
}

#hover-box1:hover + #box2 + #box3 + #box4 + #cube5 + #notice {
  -webkit-animation: fade-in 100s linear;
}

/* ------------------------------------------------------------- */
/* -------------------- Keyframe Animations -------------------- */
/* ------------------------------------------------------------- */

@-webkit-keyframes cube-curvature {
  0% {-webkit-transform: rotate(0deg);}
  50% {-webkit-transform: rotate(90deg);} 
  100% {-webkit-transform: rotate(180deg);}
}

@-webkit-keyframes last-cube-curvature {
  0% {-webkit-transform: rotate(0deg);}
  12% {-webkit-transform: rotate(90deg);}
  100% {-webkit-transform: rotate(90deg);}
}

@-webkit-keyframes cube-drop {
  0% {-webkit-transform: translate(90px, -30px);}
  100% {-webkit-transform: translate(90px, 45px );}
}

@-webkit-keyframes last-cube-drop {
  0% {-webkit-transform: translate(40px, -30px);}
  100% {-webkit-transform: translate(40px, 45px );}
}

@-webkit-keyframes box-one-glide {
  0% {-webkit-transform: translate(0px);}
  22% {-webkit-transform: translate(40px, -40px);}
  44% {-webkit-transform: translate(80px, -40px);}
  66% {-webkit-transform: translate(120px, 0px);}
  100% {-webkit-transform: translate(250px, 450px);}
}

@-webkit-keyframes box-two-glide {
  0% {-webkit-transform: translate(0px, 0px);}
  27% {-webkit-transform: translate(130px, -350px);}
  42% {-webkit-transform: translate(170px, -390px);}
  57% {-webkit-transform: translate(210px, -390px);}
  72% {-webkit-transform: translate(250px, -350px);}
  100% {-webkit-transform: translate(350px, -45px);} 
}

@-webkit-keyframes box-three-glide {
  0% {-webkit-transform: translate(0px, 0px);}
  27% {-webkit-transform: translate(70px, -220px);}
  42% {-webkit-transform: translate(90px, -260px);}
  57% {-webkit-transform: translate(110px, -260px);}
  72% {-webkit-transform: translate(140px, -220px);}
  100% {-webkit-transform: translate(200px, -45px);}
}

@-webkit-keyframes box-four-glide {
  0% {-webkit-transform: translate(0px, 0px);}
  27% {-webkit-transform: translate(20px, -90px);}
  42% {-webkit-transform: translate(30px, -110px);}
  57% {-webkit-transform: translate(40px, -110px);}
  72% {-webkit-transform: translate(50px, -90px);}
  100% {-webkit-transform: translate(70px, -45px);}
}

@-webkit-keyframes fade-in {
    0% { opacity: 0; }
    5% { opacity: 0; }
    6% { opacity: 1; }
    100% { opacity: 1; }
}



